.MyProfile{
	background-color: skyblue;
}

.introduce{
	background-color: white;
	margin: 50px
}
.fiveKeyword{
	width: 150px
}

.fiveRank{
	width: 100px
}

.link{
	padding: 50px
}

.inputService{
	background-image: url("SMU_LikeLion.png");
}

.MyInput{
	width: 500px;
	background-color: white;
	opacity: .9;

}

.loginForm{
	width: 300px;
	opacity: .9;
	background-color: violet;
	padding: 10px;
}